/* adjust body when menu is open */
body.slide-active {
	overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
	margin-top: 0px !important
}

/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
	position: relative;
	left: 0;
}

html,body {
	height: 100%;
}

.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus
	{
	background-color: white;
}

.navbar-default {
	background-color: white;
}
/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
	cursor: pointer;
	position: relative;
	line-height: 0;
	float: left;
	margin: 0;
	width: 30px;
	height: 40px;
	padding: 10px 0 10px 0;
	border: 0;
}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle>.icon-bar {
	width: 100%;
	display: block;
	height: 3px;
	margin: 5px 0 0 0;
}

#slide-nav .navbar-toggle.slide-active .icon-bar {
	background: orange
}

.navbar-header {
	position: relative;
	background: white;
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
	position: relative
}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media ( max-width :767px) {
	#slide-nav .container {
		margin: 0;
		padding: 0 !important;
		height: 100%;
	}
	#slide-nav .navbar-header {
		margin: 0 auto;
		padding: 0 15px;
		z-index: 5;
	}
	#slide-nav .navbar.slide-active {
		position: absolute;
		width: 80%;
		top: -1px;
		z-index: 2;
	}
	#slide-nav #slidemenu {
		background: #f7f7f7;
		left: -100%;
		width: 80%;
		height: 100%;
		min-width: 0;
		position: absolute;
		z-index: 2;
		margin: 0;
		border-top: 1px solid #E7E7E7;
		background: #eee;
	}
	#slide-nav #slidemenu .navbar-nav {
		min-width: 0;
		width: 100%;
		margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
		min-width: 0;
		width: 80%;
		white-space: normal;
	}
	#slide-nav {
		border-top: 0;
		height: 100%;
	}
	#slide-nav.navbar-inverse #slidemenu {
		background: #333
	}
	#slide-nav .navbar-form {
		width: 100%;
		text-align: center;
		overflow: hidden;
		border: 0;
		margin: 8px 0px;
		/*fast clearfixer*/
	}
	#slide-nav .navbar-form .form-control {
		text-align: center
	}
	#slide-nav .navbar-form .btn {
		width: 100%
	}
	#page-content {
		position: absolute;
		left: 0px;
		height: 100%;
		top: 50px;
		width: 100%;
	}
}

@media ( min-width :768px) {
	#page-content {
		left: 0 !important;
		opacity: 1 !important;
	}
	.navbar.navbar-fixed-top.slide-active {
		position: fixed
	}
	.navbar-header {
		left: 0 !important;
	}
}

/* Override navbar bottom margin in the bootstrap */
.navbar {
	margin-bottom: 0px;
}